body {
    margin-top: 3rem;
    max-height: 100vh;
    margin-left: 4rem;
    background: var(--background);
}

#winner-button {
    margin-left: 500px;
    border-color: rgb(176, 176, 19);
    border-width: 2px;
    background-color: yellow;
}

#winner-button:hover {
    opacity: 0.8;
}

#winner-button:active {
    opacity: 0.6;
}

#schools-button {
    border-color: rgb(4, 68, 51);
    border-width: 2px;
    background-color: rgb(104, 220, 201);
}

#schools-button:hover {
    opacity: 0.8;
}

#schools-button:active {
    opacity: 0.6;
}

.winner {
    margin: 50px;
    display: inline-block;
    border-style: solid;
    border-color: yellow;
    padding: 10px;
}

.winner-data {
    font-size: 20px;
}

.data-row {
    cursor: pointer;
}

.data-row:hover {
    text-decoration: underline;
}

.data-row:active {
    opacity: 0.4;
}

button {
    width: 200px;
    height: 32px;

    border: 1px solid #2EC4B6;
    border-radius: 10px;

    background: transparent;
    margin-left: 1rem;

    cursor: pointer;
}

.fasi-buttons {
    margin-top: 0.5rem;
}

.fasi:focus,
.fasi:hover {
    background: var(--background-accent);
    color: var(--text-extend);
}

p {
    margin: 0;
}


.wrapper-content {
    margin-top: 5rem;
    width: 80rem;
}

.content {
    margin-top: 1rem;
}

.wrapper-calendar {
    display: flex;
    justify-content: space-between;
}

#search-btn {
    width: 100px;
    border: 1px solid #272727;
    height: 37px;
}

#search {
    width: 150px;
    height: 32px;

    border: 1px solid #FF9F1C;
    border-radius: 10px;
    padding-left: 0.5rem;

    background: transparent;
}