body {
    margin-top: 3rem;
    max-height: 100vh;
    margin-left: 4rem;
    background: var(--background);
}

.data-row {
    cursor: pointer;
}

.data-row:hover {
    text-decoration: underline;
}

.data-row:active {
    opacity: 0.4;
}

button {
    width: 200px;
    height: 32px;

    border: 1px solid #2EC4B6;
    border-radius: 10px;

    background: transparent;
    margin-left: 1rem;

    cursor: pointer;
}

.fasi-buttons{
    margin-top: 0.5rem;
}

.fasi:focus,
.fasi:hover {
    background: var(--background-accent);
    color: var(--text-extend);
}

p{
    margin: 0;
}


.wrapper-content{
    margin-top: 5rem;
    width: 80rem;
}

.content{
    margin-top: 1rem;
}

.wrapper-calendar{
    display: flex;
    justify-content: space-between;
}

#search-btn{
    width: 100px;
    border: 1px solid #272727;
    height: 37px;
}

#search{
    width: 150px;
    height: 32px;

    border: 1px solid #FF9F1C;
    border-radius: 10px;
    padding-left: 0.5rem;

    background: transparent;
}